@import '@/styles/_animations.sass'

.title
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0 18px

  h2
    font-size: 1.2rem

.sidebar
  // Desktop
  @media (min-width: 1024px) 
    height: 100vh
    width: 200px
    transform: translateX(-70%)

  // Mobile
  @media (max-width: 1023px)
    height: 50px
    width: 100vw
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center


  position: fixed
  z-index: 1
  bottom: 0
  left: 0
  z-index: 999
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
  

  .burgerMenu 
    font-size: 1.5rem
    margin: 5px 5px 0 0

  ul
    display: flex
    @media (max-width: 1023px)
      flex-direction: row

    @media (min-width: 1024px)
      flex-direction: column
      
    padding: 0
    margin: 10px 0 0 0
    list-style-type: none

    li
      padding: 0

      .option
        width: 100%

        @media (min-width: 1024px)
          padding: 12px 18px 12px 10px
          
        border-radius: 0
        text-align: inherit
        box-shadow: none
  
  .submenu
    background: rgba(199, 215, 252, 0.4)
    padding-left: 8px
  
.open 
  @media (min-width: 1024px) 
    animation: slideIn 0.2s forwards

.close
  @media (min-width: 1024px) 
    animation: slideOut 0.1s forwards

.openDown
  animation: slideDown 0.2s forwards

.closeUp
  animation: slideUp 0.1s forwards
  
@keyframes slideIn 
  0% 
    transform: translateX(-65%)
  100% 
    transform: translateX(0)

@keyframes slideOut
  0% 
    transform: translateX(0)
  100% 
    transform: translateX(-65%)
